.wrapper,
header,
nav,
content {
  perspective: 100px;
  padding:  5px;
  width:  90%;
  margin-left:  auto;
  margin-right:  auto;
}

.table-of-contents: {
  flex: 1;
  flex-direction: row;
}

body {
  background-color:  darkred;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color:  red;
}

header {
  background-color:  coral;
}

nav {
  background-color:  lightcoral;
}

content {
  background-color:  orangered;
}