.wrapper,
header,
nav,
.content {
  width:  80%;
  margin:  0 auto;
}

nav,
.content {
  margin-top:  20px;
}

header,
nav,
.content {
  padding:  5px;
}

body {
  background-color:  #333;
}

.wrapper {
  height: 100vh;
  background-color:  #EEE;
  perspective: 1000px;
}

header {
  text-align: center;
}

.table-of-contents__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.table-of-contents__list li {
  text-align: center;
  padding: 5px;
  transition: 1s transform ease;
}

.table-of-contents__list li:hover {
  transition: 1s all;
  transform: translateZ(20px);
}

.table-of-contents h2,
.content h2,
header h1 {
  text-align: center;
  margin: 0;
}

.table-of-contents h2 {
  margin-bottom: 10px;
}


/* Shadows */

.drop-shadow {
    position:relative;
    padding:1em;
    background:#eee;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.curled {
    border:1px solid #efefef;
    -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
   border-radius:0 0 120px 120px / 0 0 6px 6px;
}

.curled:before,
.curled:after {
    bottom:12px;
    left:10px;
    width:50%;
    height:55%;
    max-width:200px;
    max-height:100px;
    -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
       -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
      box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
    -webkit-transform:skew(-8deg) rotate(-3deg);
       -moz-transform:skew(-8deg) rotate(-3deg);
  -ms-transform:skew(-8deg) rotate(-3deg);
   -o-transform:skew(-8deg) rotate(-3deg);
      transform:skew(-8deg) rotate(-3deg);
}

.curled:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
   -o-transform:skew(8deg) rotate(3deg);
      transform:skew(8deg) rotate(3deg);
}
